body {
  background-color: #000;
  color: #00f
}

#login {
  width: 300px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  border: 1px dashed #00f;
}

input[type=text], input[type=password] {
  border: none;
  line-height: 20px;
  font-size: 14px
  height: 20px;
  width: 275px;
}

div.fields {
  margin: 10px 0 5px 10px;
}

p#msg {
  margin: 0 auto;
}
