#container {
  width: 800px;
  height: 528px;
  margin: -264px 0 0 -400px;
  position: absolute;
  top: 50%;
  left: 50%
}

#header {
  width: 800px;
  height: 24px;
  border: 1px dashed #00f;
  margin: 0 0 8px 0;
}

#team {
  float: left;
  line-height: 24px;
  margin: 0 0 0 4px;
}

#score {
  float: right;
  line-height: 24px;
  margin: 0 4px 0 0;
}

#pyramid {
  width: 495px;
  height: 500px;
  border: 1px dashed #00f;
  float: left;
  text-align: center;
}

#right {
  width: 295px;
  float: right;
}

#challenge {
  width: 100%;
  height: 200px;
  border: 1px dashed #00f;
  margin: 0 0 8px 0;
}

#hint {
  margin: 4px 4px 20px 4px;
}

#challenge > .fields {
  margin: 0 4px 0 4px;
}

#challenge > .fields input[type="text"] {
  width: 283px;
  margin: 0 0 0 0;
  border: 1px dashed #00f;
  background-color: #000;
  color: #00f;
}

#challenge > .fields button {
  border: 1px dashed #00f;
  background-color: #000;
  color: #00f;
  margin: 4px 0 0 0;
  font-size: 14px;
}

#scoreboard_container {
  width: 100%;
  height: 290px;
  border: 1px dashed #00f;
  margin: 8px 0 0 0;
  overflow: auto;
}

#scoreboard_container > h2 {
  margin: 10px 0 0 12px;
}

#scoreboard li {
  height: 20px;
  line-height: 20px;
}

.building_block {
  display: inline-block;
  width: 74px;
  height: 74px;
  margin: 5px 5px;
  line-height: 75px;
  cursor: pointer;
  border: 2px dashed #00f;
  text-align: center;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.solved {
  border: 2px dashed green;
  color: green;
}

.unopened {
  border: 2px dashed gray;
  color: gray;
}
