body {
  background: url('../images/background.png');
}

#container {
  width: 750px;
  margin: 0 auto;
}

#login_container {
  display: none;
}

.building_block {
  display: inline-block;
  width: 74px;
  height: 74px;
  margin: 5px 5px;
  background-color: #eee;
  line-height: 75px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(255, 105, 180, .7);
  box-shadow: 0px 0px 2px 2px rgba(255, 105, 180, .7);
}

#pyramid_container {
  float: left;
  text-align: center;
}

#right_container {
  float: left;
}

#submission_container {
  width: 300px;
  border: 1px solid black;
}

.unopened {
}

.open {
}

.solved {
  background-color: rgba(0, 255, 0, .75);
  color: rgba(0, 255, 0, .75);
}
